*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to top left, #100, #222);
	overflow-y: hidden;
}

/*
 * Navbar
 */
nav{
	width: 100%;
	padding: 40px;
	color: #fff;
	display: flex;
	background: rgb(0, 0, 0, 0.2);
	justify-content: space-between;
}
nav .brand{
	font-size: 35px;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
}
nav .items{
	display: flex;
}
nav .items a{
	color: #fff;
	font-size: 22px;
	line-height: 50px;
	margin-right: 15px;
	text-decoration: none;
}
nav .items a.sp{
	background: #3d67ff;
	color: #fff;
	font-size: 22px;
	padding: 8px;
	border-radius: 5px;
	cursor: pointer;
	line-height: 40px;
}
nav .items a.sp:hover, nav .items a.sp:focus{
	background: #113cff;
}
nav .mToggle{
	background: transparent;
	border: 0;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
	display: none;
}
nav .items .cancelMenu{
	display: none;
	background: transparent;
	border: none;
	font-size: 38px;
	color: #fff;
	cursor: pointer;
	margin-left: auto;
	padding: 10px;
}


/*
 * Container
 */
.container{
	width: 100%;
	height: 80vh;
	overflow-y: scroll;
}
.container .headitems{
	width: 100%;
	padding: 50px;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.container .headitems h2{
	font-size: 60px;
	font-weight: 400;
	background: linear-gradient(to right, #c4ffe7, #bbd3ff, #ffbdb7, #fdffcf);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	padding: 10px;
}
.container .headitems h3{
	color: transparent;
	font-weight: 400;
	background: linear-gradient(to right, #c4ffe7, #bbd3ff, #fdffcf);
	-webkit-background-clip: text;
	background-clip: text;
	font-size: 22px;
}
.container section{
	padding: 30px;
}
.container section h2{
	color: transparent;
	font-weight: 400;
	background: linear-gradient(to right, #c4ffe7, #bbd3ff, #fdffcf);
	-webkit-background-clip: text;
	background-clip: text;
	font-size: 38px;
}
.container section p{
	padding: 20px;
	color: transparent;
	background-clip: text;
	background: linear-gradient(to right, #c4ffe7, #bbd3ff, #fdffcf);
	-webkit-background-clip: text;
	font-size: 22px;
}
.container section p.error{
	color: #ccc;
	text-align: center;
	padding: 10px;
}

.backtotop{
	position: fixed;
	z-index: 1;
	bottom: 50px;
	right: 20px;
	color: #000;
	background: #fff;
	text-decoration: none;
	padding: 10px;
	box-shadow: 0 5px 15px #ccc;
	font-size: 20px;
	display: none;
}

.pr-items{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.pr-items .item{
	flex-grow: 1;
	padding: 10px;
	max-width: 300px;
	border-radius: 7px;
	border: 1px solid #333;
	text-align: center;
}
.pr-items .item h3{
	color: #fff;
	font-weight: 400;
	padding: 10px;
	text-align: center;
	font-size: 28px;
}
.pr-items .item a{
	color: #fff;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
}
footer{
	width: 100%;
	color: #fff;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	background: #444;
}

@media only screen and (max-width: 830px){
	nav .items{
		position: fixed;
		width: 250px;
		left: -250px;
		z-index: 1;
		background: #000;
		border-right: #ccc;
		flex-direction: column;
		top: 0;
		bottom: 0;
		transition: all 0.5s;
	}
	nav .items a{
		padding: 10px;
		border: 1px solid #111;
		width: 100%;
	}
	nav .items a:hover{
		background: #111;
	}
	nav .mToggle{
		display: block;
	}
	nav .items .cancelMenu{
		display: block;
	}
	
}

